.sub{
    background-color: aqua;
}
.but
{
    position: absolute;
    border-radius: 1000px;
    background: #D9D9D9;
    width: 177px;
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 39px;
    color: #000000;
    left: 650px;
    margin-top: 50px;
}
.but1
{
    position: absolute;
    border-radius: 1000px;
    background: #D9D9D9;
    width: 177px;
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 39px;
    color: #000000;
    left: 650px;
}
